<h1><%= @title.content %></h1>
<h2>コメント一覧</h2>

<%= form_tag("/comment/new")do %>
  <textarea name="content"></textarea>
<p>
  <input type="submit" value="コメント">
 </p>
<% end %>

<% @comments.each do |comment| %>
 <li><%= comment.content %></li>
 <% end %>
